requests==2.24.0
prettytable==0.7.2
aiodns==2.0.0
aiohttp==3.7.3
aiosmtpd==1.2.2
anytree==2.8.0
beautifulsoup4==4.9.3
async-timeout==3.0.1
atpublic==2.1.2
attrs==20.3.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
colorama==0.4.4
googlesearch-python==2020.0.2
idna==2.10
multidict==5.1.0
numpy==1.19.4
prettytable==0.7.2
pycares==3.1.1
pycparser==2.20
PyPDF2==1.26.0
requests==2.24.0
six==1.15.0
socialscan==1.4.1
googlesearch-python
verify-email
soupsieve==2.0.1
tabula==1.0.5
tqdm==4.55.1
typing-extensions==3.7.4.3
urllib3==1.25.9
verify-email==2.4.1
yarl==1.6.3
launchpadlib==1.10.13
